*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# MAC
.DS_Store


### CDK-specific ignores ###
*.swp
cdk.context.json
package-lock.json
yarn.lock
.cdk.staging
cdk.out